* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

body {
    color: #FFFFFF;
    /*            width: 100vw;
            height: 100vh;*/

    margin: 0 !important;
    padding: 0 !important;
}


.flex_container {
/*      
width: 100vw;
height: 100vh;
*/
    display: flex;

/*
overflow-x: scroll;
scroll-snap-type: x mandatory;
overflow-y: hidden;
scroll-behavior: smooth !important;
*/
}

.flex_container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /*
    width: calc(100vw - 100px);
    */
    height: 100vh;
    scroll-snap-align: start !important;
    /*
    scroll-margin-left: 100px;
      to enable width 100%*/
    flex: none;
    width: 100vw;
    height: calc(100vh - 1em);
    /*height: 100vh;*/

    box-sizing: border-box;


}

/*slide2 start*/

.flex_container .slide2 {
    position: relative;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: flex-start;
    column-gap: 60px;
    padding: 40px 40px 0 40px !important;
    box-sizing: border-box;

}

.slide2_leftCol {
    position: relative;
    width: 700px;
    height: auto;
}

.slide2_h1 {
    font-family: 'Raleway';
    src: url('font/Raleway-Bold.woff2') format('woff2'),
        url('font/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 1.5em;
    line-height: 1.25em;
    color: #006837;

    padding: 20px 0 0 0 !important;

}

.slide2_banner {
    width: 100%;
    /* max-width: 700px;*/
    height: auto;
}


.slide2_p {
    font-family: 'Raleway-Medium';


    font-size: 1em;
    line-height: 1.5em;

    color: #505050;

    width: 400px;

    display: flex;
    /*border: 1px solid black;*/

    box-sizing: border-box;

    margin: 20px 0 0 0 !important;

    position: relative;
}

.slide2_overlapText_container {
    font-family: 'Raleway';
    src: url('font/Raleway-Bold.woff2') format('woff2'),
        url('font/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 1.5em;
    line-height: 1.25em;
    position: absolute;
    bottom: 0;
    left: 80%;
    background-color: #006341;
    color: #FFFFFF;
    width: 80%;
    height: auto;
    padding: 20px !important;
}

.slide2_overlapText {
    text-align: left;
}

.slide2_readmore {
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}

.slide2_readmore a {
    color: #FFFFFF;
    text-decoration: underline;
}


.slide2_photoObject {
    width: 250px;
    height: auto;
}


.slide2_photoObject_container {
    position: absolute;
    left: 0;
    bottom: 0;
}

.slide2_photoObject_image {
    width: 200px;
    height: auto;
}

/*slide2 end*/


/*slide3 start*/
.flex_container .slide3 {
    background-color: #FFFFFF;
    color: #505050;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 10px;
    box-sizing: border-box;
    padding: 40px 175px 0 175px !important;
    position: relative;
}

.slide3_header_container{
    font-family: 'Bebas-Neue-Regular';
    width: 40%;
}

.slide3_header_1{
    font-size: 2em;
    color: #595959;
}

.slide3_header_2{
    font-size: 2.5em;
    color: #007F53;
}

.slide3_p {
    font-family: 'Raleway-Medium';
    font-size: 1em;
    line-height: 1.5em;
    padding: 20px 0 0 0 !important;
}

.slide3_bannerContainer{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 60%;

    padding: 100px 0 0 0 !important;
}

.slide3_banner1,
.slide3_banner2,
.slide3_banner3,
.slide3_banner4{
    width: 100%;
}


.slide3_bannerContainer div img {
    width: 100%;
}

.slide3_banner1{
    z-index: 4;
}

.slide3_banner2{
    position: absolute;
    right: 68%;
    top: 90%;
    z-index: 3;
}

.slide3_banner3{
    position: absolute;
    right: 0;
    top: 135%;
    z-index: 2;
}

.slide3_banner4{
    position: absolute;
    right: 68%;
    top: 180%;
    z-index: 1;
}

.slide3_photoObject_container {
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
}

.slide3_photoObject_image {
    width: 350px;
    height: auto;
}


/*ditogar*/



