


.flex_container .testimonial_page2, .flex_container .testimonial_page1, .flex_container .testimonial_page3   {
    background-color: #FFFFFF;
    color: #505050;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 40px 0 0 75px !important;
    position: relative;

    order: 4;
    flex-direction: column !important;
    overflow: visible;
}

.t4 , .t8 , .t12 {
    background-color: #006341;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 40px !important;
    width: 60% !important;
    
    margin: 2% 0 0 10% !important;
    overflow-x: visible;

}

.t4{
    right: 10%;
}



.navContainer{
    width: 360px !important;
/*    background-color: red;*/
}

